<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
<style>

 body{
		width:500px;
		margin: 10px auto;
}
.top{
	background: green;
}         
.middle{

}
.left{
float: left;
width: 150px;
background: red;

}

.right{
float: left;
width: 350px;
background: blue;
}

.bottom{
	clear: both;
background: purple;
}

</style>
	</head>
	<body>
			<div class="top">	Lorem ipsum dolor sit amet,consectetur adipiscing elit.
				Sed egestas malesuada feu
				giat. Maecenas euismod mollis odio,
				sit amet consectetur ant
				e eleifend at. Fusce sed dolor laoreet</div>

			<div class="middle">
				<div class="left">Lorem ipsum dolor sit amet,consectetur adipiscing elit.
				ipsum dolor sit amet,consectetur adipisci
			ipsum dolor sit amet,consectetur adipisci
		ipsum dolor sit amet,consectetur adipisci
	ipsum dolor sit amet,consectetur adipisci</div>
				<div class="right">ectetur ante eleifend at. Fusce sed</div>
				</div>

			<div class="bottom">	ipsum dolor sit amet,consectetur adipiscing elit.
			 	Sed egestas malesuada feu
			 	giat. Maecenas euismod</div>



	</body>
</html>

<!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Sed egestas malesuada feugiat. Maecenas euismod mollis odio,
sit amet consectetur ante eleifend at. Fusce sed dolor laoreet,


In mauris nulla, pulvinar et turpis sit amet,
 dignissim pulvinar nisl. Pellentesque sed loborti
 s justo, a pellentesque elit. Nunc metus justo, ultr
 ices et commodo a, fringilla ac dolor. Pellentesque pellent
